.Chatbot{
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Div{
  font-size: calc(5px + 1vmin);
  text-align: center;
}

.DivLink{
  font-size: calc(5px + 1vmin);
  color: #00b0b0;
}