.Chatbot{
  text-align: center;
  min-height: 100vh;
  margin-right: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.Div{
  font-size: 15px;
  text-align: center;
}

.DivLink{
  font-size: 15px;
  color: #00b0b0;
}

.Logo{
  width: 30%;
  height: 30%;
  margin: 10% 20% 10% 10%;
}

@media (max-width: 600px){
  .Chatbot{
    display: block;
    margin: 5% 10% 10% 10%;
  }

  .Logo{
    margin: 5% 10% 10% 10%;
  }
}