.Chatbot{
  text-align: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.Div{
  font-size: 15px;
  text-align: center;
}

.DivLink{
  font-size: 15px;
  color: #00b0b0;
}